{% extends "template.njk" %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-language-toggle">
      {{ (languageToggle or t('languageToggle') or '') | safe }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ t('serviceName') }}</h1>
  <p class="govuk-body">{{ t('contactUsForHelpText') }}</p>
{% endblock %}
