{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">Page Not Found</h1>
  <p class="govuk-body">If you typed the web address, check it is correct.</p>
  <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
  <p class="govuk-body">If the web address is correct or you selected a link or button, contact us by email or telephone.</p>

  <h2 class="govuk-heading-m">Email</h2>
  <p class="govuk-body">Use the <a class='govuk-link' href='https://www.find-court-tribunal.service.gov.uk/' target='_blank' rel='noopener noreferrer'>find a court or tribunal service (opens in new tab)</a> to get your local court’s email address.</p>
  <p class="govuk-body">If you do not know the name of your local court, select the ‘Money’ category and then the ‘Housing’ category to find it.</p>

  <h2 class="govuk-heading-m">Telephone</h2>
  <p class="govuk-body">0300 123 7050</p>
  <p class="govuk-body">Monday to Friday, 8.30am to 5pm.</p>
  <p class="govuk-body"><a class='govuk-link' href='https://www.gov.uk/call-charges' target='_blank' rel='noopener noreferrer'>Find out about call charges (opens in new tab)</a>.</p>
{% endblock %}
