{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block beforeContent %}
  {% if backUrl %}
    {{ govukBackLink({
      text: (back or t('back') or "Back"),
      href: backUrl
    }) }}
  {% endif %}

  <div class="govuk-width-container">
    <div class="govuk-language-toggle">
      {{ (languageToggle or t('languageToggle') or '') | safe }}
    </div>
  </div>

  {% if errorSummary %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{
        govukErrorSummary({
          titleText: t('errors.title'),
          errorList: errorSummary
        })
        }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
