{% extends "stepsTemplate.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "macros/stepButtons.njk" import stepButtons %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block pageTitle %}
  {{ pageTitle }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK
{% endblock %}

{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}

  {% if caption %}
    <span class="govuk-caption-l">{{ caption }}</span>
  {% endif %}

  {% if heading %}
    <h1 class="govuk-heading-l">{{ heading }}</h1>
    {% elif title %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
  {% endif %}

  {% if content %}
    <p class="govuk-body">{{ content | safe }}</p>
  {% endif %}

  <form method="post" action="{{ url }}">
    {# Wrap fields in fieldset with visually-hidden legend for accessibility.
       Skip for radio/checkbox pages - they create their own fieldset via GOV.UK macros,
       so wrapping them in an outer fieldset causes screen readers to announce the legend twice. #}
    {% if heading and not allFieldsHaveOwnFieldset %}
      {% call govukFieldset({
        legend: {
          text: heading,
          classes: "govuk-visually-hidden"
        }
      }) %}
        {% for field in fields %}
          {% if field.component and field.componentType %}
            {% if field.componentType == 'input' %}
              {{ govukInput(field.component) }}
              {% elif field.componentType == 'textarea' %}
              {{ govukTextarea(field.component) }}
              {% elif field.componentType == 'characterCount' %}
              {{ govukCharacterCount(field.component) }}
              {% elif field.componentType == 'radios' %}
              {# GOV.UK macro automatically creates conditional divs when conditional.html is provided #}
              {{ govukRadios(field.component) }}
              {% elif field.componentType == 'checkboxes' %}
              {# GOV.UK macro automatically creates conditional divs when conditional.html is provided #}
              {{ govukCheckboxes(field.component) }}
              {% elif field.componentType == 'dateInput' %}
              {{ govukDateInput(field.component) }}
              {% elif field.componentType == 'fileUpload' %}
              {{ fileUploadMoj(field.component, field.component.uploadButtonText, field.component.filesAddedHeading, field.component.value) }}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endcall %}
    {% else %}
      {# Fallback: render fields without fieldset if no heading #}
      {% for field in fields %}
        {% if field.component and field.componentType %}
          {% if field.componentType == 'input' %}
            {{ govukInput(field.component) }}
            {% elif field.componentType == 'textarea' %}
            {{ govukTextarea(field.component) }}
            {% elif field.componentType == 'characterCount' %}
            {{ govukCharacterCount(field.component) }}
            {% elif field.componentType == 'radios' %}
            {# GOV.UK macro automatically creates conditional divs when conditional.html is provided #}
            {{ govukRadios(field.component) }}
            {% elif field.componentType == 'checkboxes' %}
            {# GOV.UK macro automatically creates conditional divs when conditional.html is provided #}
            {{ govukCheckboxes(field.component) }}
            {% elif field.componentType == 'dateInput' %}
            {{ govukDateInput(field.component) }}
            {% elif field.componentType == 'fileUpload' %}
            {{ fileUploadMoj(field.component, field.component.uploadButtonText, field.component.filesAddedHeading, field.component.value) }}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {{ stepButtons(saveAndContinue, saveForLater) }}
    {% if showCancelButton is not defined or showCancelButton %}
      <p class="govuk-body">
        <a href="{{ dashboardUrl }}" class="govuk-link">{{ cancel }}</a>
      </p>
    {% endif %}

    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
