{% extends "stepsTemplate.njk" %}

{% block pageTitle %}{{ pageTitle }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block mainContent %}
  {% if heading %}
    <h1 class="govuk-heading-l">{{ heading }}</h1>
  {% endif %}
{% endblock %}
