{% extends "stepsTemplate.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block pageTitle %}{{ questionTitle }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block serviceNavigation %}
  {{ header(false) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('questionTitle') }}</h1>
      <p class="govuk-body">{{ t('nonEnglishAddress1') | safe }}</p>
      <p class="govuk-body">{{ t('returnToGovUk') | safe }}</p>
    </div>
  </div>
{% endblock %}
