{% extends "stepsTemplate.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block pageTitle %}{{ questionTitle }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block serviceNavigation %}
  {{ header(false) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('questionTitle') }}</h1>
      <p class="govuk-body">{{ t('validSection13') }}</p>

      <p class="govuk-body">{{ t('bulletHeading') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('bullet1') }}</li>
        <li>{{ t('bullet2') }}</li>
        <li>{{ t('bullet3') }}</li>
        <li>{{ t('bullet4') }}</li>
        <li>{{ t('bullet5') }}</li>
      </ul>
      <p class="govuk-body">{{ t('stillChallengeIncrease') }}</p>
      <p class="govuk-body">{{ t('downloadPaperForm') | safe }}</p>
      <p class="govuk-body">{{ t('returnToGovUk') | safe }}</p>
    </div>
  </div>
{% endblock %}
