{% extends "stepsTemplate.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block pageTitle %}{{ questionTitle }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block serviceNavigation %}
  {{ header(false) }}
{% endblock %}

{% block serviceNavigation %}
  {{ header(false) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ formData }}
      <h1 class="govuk-heading-l">{{ t('questionTitle') }}</h1>
      <p class="govuk-body">{{ t('applyingForSomeoneElse') }}</p>
      {{ govukButton({
        text: t('onlineApplicationForm'),
        href: "https://www.gov.uk/",
        attributes: { "data-cy":"button-save-and-continue"}
      }) }}
    </div>
  </div>
{% endblock %}
