{% extends "template.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post" novalidate>
        {{ csrfProtection(csrfToken) }}
        {{ govukRadios({
          name: "applyingForYourselfOrSomeoneElse",
          id: "applying-for-yourself-or-someone-else",
          fieldset: {
            legend: {
              text: t('questionTitle'),
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errors["applyingForYourselfOrSomeoneElse"] and {
            text: errors["applyingForYourselfOrSomeoneElse"].msg
          },
          items: [
            {
              value: "myself",
              text: t('myself'),
              hint: {
                text: t('myselfHint')
              },
              checked: startingOrReturning == 'myself'
            },
            {
              value: "someoneElse",
              text: t('someoneElse'),
              hint: {
                text: t('someoneElseHint')
              },
              checked: startingOrReturning == 'someoneElse'
            }
          ]
        }) }}
        {{ govukButton({
          text: t('continueButtonText'),
          type: "submit",
          attributes: { "data-cy":"button-save-and-continue"}
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
