{% extends "stepsTemplate.njk" %}
{% from "macros/stepButtons.njk" import stepButtons %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block pageTitle %}{{ pageTitle }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block mainContent %}

  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}

  <form method="post" action="{{ url }}" novalidate>
    {% for field in fields %}
      {% if field.componentType == 'radios' %}
        {{ govukRadios(field.component) }}
      {% endif %}
    {% endfor %}

    {{ stepButtons(continue) }}
    {{ csrfProtection(csrfToken) }}
  </form>

{% endblock %}
